{
    "meta":
    {
        "title": "Participant Survey (Basics)"
    },
    "questions":
    [
        { "text": "Is this an end survey?", "desc": "This is a longer set of text that we would want to render above the input but below the title text.", "type": "slide", "basis": "20"},
        { "text": "Is the end too long?", "desc": "Should you answer this?", "type": "long" }
    ]
}
