{
    "meta":
    {
        "title": "Participant Survey (Media)",
        "anon": "TRUE"
    },
    "questions":
    [
        { "text": "What is this?",  "desc": "This is a longer set of text that we would want to render above the input but below the title text.", "type": "input", "attrs": ["required"] },
        { "text": "This is an audio clip", "desc": "Please listen.", "type": "audio", "basis": "test.mp3"},
        { "text": "This is a video clip", "desc": "Please watch.", "type": "video", "basis": "test.mp4", "height": "300", "width": "400"},
        { "text": "This is an image", "desc": "Please look.", "type": "image", "basis": "test.png", "height": "50", "width": "100"}
    ]
}
