[Unit]
Description=Survey host

[Service]
Type=simple
ExecStart=/usr/bin/survey --config /etc/survey/settings.conf
Restart=always

[Install]
WantedBy=multi-user.target
