<h4>Survey Administration</h4>
<hr />
<h5>Tag {{ .Tag }}</h5>
<pre>
{{ .File }}
</pre>
{{ .CfgName }}: <a href="/results?token={{ .Token }}">results</a>
<table>
    <tr>
        <th>client</th>
        <th>mode</th>
        <th>file</th>
    </tr>
    {{ range $key, $file := .Manifest }}
    <tr>
        <td>{{ $file.Client }}</td>
        <td>{{ $file.Mode }}</td>
        <td>{{ $file.Name }}</td>
    </tr>
    {{ end }}
</table>
<hr />
<h4>management</h4>
<form name="admin_form" id="admin_form" action="/admin?token={{ $.Token }}" method='POST'>
<select name="questions" id="questions">
    {{ range $key, $q := .Available }}
        <option value="{{ $q }}">{{ $q }}</option>
    {{ end }}
</select>
    <br />
    are you sure you want to restart?
    <input class="" type="checkbox" placeholder="" name="restart" id="restart">
    <br />
    <br />
    <div style="position:relative; z-index:2;">
        <div style="position:absolute; top:-1em; left:-1em; right:-1em; bottom:-1em;">
            <button class="button-primary" id="submit_form">Restart</button>
        </div>
    </div>
</form>
{{ .Warning }}
