<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ .Title  }}</title>
        <link rel="stylesheet" href="/static/skeleton/css/normalize.css">
        <link rel="stylesheet" href="/static/skeleton/css/skeleton.css">
        <link rel="stylesheet" href="/static/nouislider/nouislider.min.css">
        <link rel="stylesheet" href="/static/survey.css">
        <link rel="stylesheet" href="/static/survey.custom.css">
        <script src="/static/nouislider/nouislider.min.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/survey.js"></script>
        <script src="/static/survey.custom.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div style="margin-top: 5%">
                    {{template "content" .}}
                </div>
           </div>
        </div>
    </body>
</html>
