<script type="text/javascript">
function do_submit(mode, url){
    $('#survey_form').submit(function(e){
        if ({{write_c_cache}}) {
            var b, a = window.navigator.userAgent;
            if (a === "electron-survey") {
                var ts = window.performance.timing.navigationStart + window.performance.now();
                const fs = require('fs');
                fs.appendFile('{{c_cache}}' + mode + '-{{idx}}.form.' + ts.toString(), $(this).serialize(), function (e) {});
            }
        }
        e.preventDefault();
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: "/" + mode + "/{{idx}}",
            success: function(response) {
                // NOTE: throwing out response because we don't care
                if (url)
                {
                    window.location = url;
                }
            }
        });
        return false;
    });
}

function do_save(){
    // NOTE: force-change the window at this point
    useUrl = "/completed{{qparams}}"
    if ({{do_follow}})
    {
        useUrl = "/{{follow}}/{{session_id}}{{qparams}}"
    }

    do_submit('save', useUrl)
}

$(document).ready(function() {
    do_submit('snapshot')
});

window.onload=function(){
    if ({{snapshot_at}} > 0) {
        var auto = setTimeout(function(){ autoRefresh(); }, 100);
        function submitform(){
            $('#survey_form').submit()
        }

        function autoRefresh(){
            clearTimeout(auto);
            // Change this timeout to adjust how often auto-submit in the background is happening
            auto = setTimeout(function(){ submitform(); autoRefresh(); }, 15000);
        }
    }
}
</script>
<h4>{{ title }}</h4>
<form name="survey_form" id="survey_form" action="/snapshot" method='POST'>
    <input type="hidden" name="session" value="{{session_id}}" />
    {% if anon == "FALSE" %}
        <div class="row">
            <div class="six columns">
                <label for="name">Your name</label>
                <input class="u-full-width" name="name" type="text" placeholder="Leeroy Jenkins" id="name" required>
            </div>
            <div class="six columns">
                <label for="email">Your email</label>
                <input class="u-full-width" name="email" type="email" placeholder="test@mailbox.com" id="email" required>
            </div>
        </div>
    {% endif %}
    {% for question in questions if question.q_type == "hidden" %}
        <input type="hidden" value="{{question.q_val}}" name="{{question.q_id}}" id="{{question.q_text}}">
    {% endfor %}
    {% for question in questions if question.q_type != "hidden" %}
    <div class="row">
        <label for="{{ question.q_text }}">{{ question.q_text }}</label>
        <p style="margin-bottom: 1rem;">{{ question.q_desc}}</p>
        {% if question.q_type == "explanation" %}
            <input class="u-full-width" type="hidden" placeholder="" name="{{question.q_id}}" id="{{ question.q_text }}">
        {% endif %}
        {% if question.q_type == "input" %}
        <input class="u-full-width" value="{{question.q_val}}" type="text" placeholder="" name="{{question.q_id}}" id="{{ question.q_text }}" {{question.q_req}}>
        {% endif %}
        {% if question.q_type == "long" %}
            <textarea class="u-full-width" name="{{question.q_id}}" style="min-height: 105px;"placeholder="" id="{{ question.q_text }}"></textarea>
        {% endif %}
        {% if question.q_type == "label" %}
            <input class="u-full-width" type="hidden" placeholder="" name="{{question.q_id}}" id="{{ question.q_text }}">
        {% endif %}
        {% if question.q_type == "checkbox" %}
            <input class="" type="checkbox" placeholder="" name="{{question.q_id}}" id="{{ question.q_text }}">
        {% endif %}
        {% if question.q_type == "number" %}
            <input class="u-full-width" type="number" placeholder="" name="{{question.q_id}}" id="{{ question.q_text }}">
        {% endif %}
        {% if question.q_type == "option" %}
              <select class="u-full-width" id="{{ question.q_text }}" name="{{question.q_id}}">
                {% for option in question.q_opts %}
                    <option value="{{ option }}"> {{ option }}</option>
                {% endfor %}
              </select>
        {% endif %}
        {% if question.q_type == "slide" %}
            <div class="sliders" style="margin-top: 10px; margin-bottom: 50px" id="{{ 'slide' + question.q_id }}"></div>
            <input type="hidden" name="{{ question.q_id }}" value="" id="{{ 'hidden' + question.q_id }}" />
            <script>
                var {{ 'slide' + question.q_id }} = document.getElementById('{{ 'slide' + question.q_id }}');
                noUiSlider.create({{ 'slide' + question.q_id }}, {
                    start: 50,
                    range: {
                        min: 0,
                        max: 100
                    },
                    step: 5,
                    behaviour: 'tap',
                    pips: {
                        mode: 'values',
                        values: [10, 20, 30, 40, 50, 60, 70, 80, 90],
                        density: 4
                        }
                });

                var {{ 'slidehide' + question.q_id }} = document.getElementById('{{ 'hidden' + question.q_id }}');
                {{ 'slide' + question.q_id }}.noUiSlider.on('update', function( values, handle ) {
                    {{ 'slidehide' + question.q_id }}.value = values[handle];
                });
            </script>
        {% endif %}
    </div>
    {% endfor %}
    <hr />
    <div style="position:relative; z-index:2;">
        <div style="position:absolute; top:-1em; left:-1em; right:-1em; bottom:-1em;">
    <button class="button-primary" id="submit_form" onclick="do_save();">{% if follow %}Next{% else %}Submit{% endif %}</button>
        </div>
    </div>
</form>
