<script type="text/javascript">
function do_submit(mode, url){
    $('#survey_form').submit(function(e){
        e.preventDefault();
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: "/" + mode,
            success: function(response) {
                // NOTE: throwing out response because we don't care
                if (url)
                {
                    window.location = url;
                }
            }
        });
        return false;
    });
}

function do_save(){
    // NOTE: force-change the window at this point
    useUrl = "/completed{{ .QueryParams }}"
    do_submit('save', useUrl)
}

function toggleCheckbox(id) {
    $('#' + id).toggle();
}

$(document).ready(function() {
    do_submit('snapshot')
});

window.onload=function(){
    if ({{ .Snapshot }} > 0) {
        var auto = setTimeout(function(){ autoRefresh(); }, 100);
        function submitform(){
            $('#survey_form').submit()
        }

        function autoRefresh(){
            clearTimeout(auto);
            // Change this timeout to adjust how often auto-submit in the background is happening
            auto = setTimeout(function(){ submitform(); autoRefresh(); }, 15000);
        }
    }
}
</script>
<h4>{{ .Title }}</h4>
<form name="survey_form" id="survey_form" action="/snapshot" method='POST'>
    <input type="hidden" name="session" value="{{ .Session }}" />
    {{ if not .Anonymous }}
        <div class="row">
            <div class="six columns">
                <label for="name">Your name</label>
                <input class="u-full-width" name="name" type="text" placeholder="Leeroy Jenkins" id="name" required>
            </div>
            <div class="six columns">
                <label for="email">Your email</label>
                <input class="u-full-width" name="email" type="email" placeholder="test@mailbox.com" id="email" required>
            </div>
        </div>
    {{ end }}
    {{ range $key, $question := .Hidden }}
        <input type="hidden" value="{{ $question.Value }}" name="{{ $question.Id }}" id="{{ $question.Text }}">
    {{ end }}
    {{ range $key, $question := .Questions }}
    <div class="row">
        <label for="{{ $question.Text }}">{{ $question.Text }}</label>
        <p style="margin-bottom: 1rem;">{{ $question.Description }}</p>
        {{ if $question.CondStart }}
            <input class="" value="0" onchange="toggleCheckbox('conditional-{{ $question.Id }}')" type="checkbox" placeholder="" name="{{ $question.Id }}" id="{{ $question.Text }}">
            <div style="display: none;" id="conditional-{{ $question.Id }}">
        {{ end }}
        {{ if $question.Explanation }}
            <input class="u-full-width" type="hidden" placeholder="" name="{{ $question.Id }}" id="{{ $question.Text }}">
        {{ end }}
        {{ if $question.Input }}
        <input class="u-full-width" value="{{ $question.Value }}" type="text" placeholder="" name="{{ $question.Id }}" id="{{ $question.Text }}" {{ $question.Required }}>
        {{ end }}
        {{ if $question.Long }}
            <textarea class="u-full-width" name="{{ $question.Id}}" style="min-height: 105px;" placeholder="" id="{{ $question.Text }}"></textarea>
        {{ end }}
        {{ if $question.Label }}
            <input class="u-full-width" type="hidden" placeholder="" name="{{ $question.Id }}" id="{{ $question.Text }}">
        {{ end }}
        {{ if $question.Check }}
            <input class="" type="checkbox" placeholder="" name="{{ $question.Id }}" id="{{ $question.Text }}">
        {{ end }}
        {{ if $question.Number }}
            <input class="u-full-width" type="number" placeholder="" name="{{ $question.Id }}" id="{{ $question.Text }}">
        {{ end }}
        {{ if $question.Option }}
              <select class="u-full-width" id="{{ $question.Text }}" name="{{ $question.Id }}">
                {{ range $kopt, $option := $question.Options }}
                    <option value="{{ $option }}"> {{ $option }}</option>
                {{ end }}
              </select>
        {{ end }}
        {{ if $question.Slider }}
            <div class="sliders" style="margin-top: 10px; margin-bottom: 50px" id="slide{{ $question.Id }}"></div>
            <input type="hidden" name="{{ $question.Id }}" value="" id="hidden{{ $question.Id }}" />
            <script>
                var {{$question.SlideId}} = document.getElementById('{{ $question.SlideId }}');
                noUiSlider.create({{$question.SlideId}}, {
                    start: {{$question.Basis}},
                    range: {
                        min: 0,
                        max: 100
                    },
                    step: 5,
                    behaviour: 'tap',
                    pips: {
                        mode: 'values',
                        values: [10, 20, 30, 40, 50, 60, 70, 80, 90],
                        density: 4
                        }
                });

                var {{$question.SlideHideId}} = document.getElementById('hidden{{ $question.Id }}');
                {{ $question.SlideId }}.noUiSlider.on('update', function( values, handle ) {
                    {{ $question.SlideHideId }}.value = values[handle];
                });
            </script>
        {{ end }}
        {{ if $question.Image }}
            <img src="{{ $question.Basis }}" height="{{ $question.Height }}" width="{{ $question.Width }}"> 
        {{ end }}
        {{ if $question.Audio }}
            <audio controls>
                <source src="{{ $question.Basis }}">
            </audio>
        {{ end }}
        {{ if $question.Video }}
            <video width="{{ $question.Width }}" height="{{ $question.Height }}" controls>
                <source src="{{ $question.Basis }}">
            </video>
        {{ end }}
        {{ if $question.CondEnd }}
            </div>
        {{ end }}
        {{ if not $question.CondStart }}
        </div>
        {{ end }}
    {{ end }}
    <hr />
    <div style="position:relative; z-index:2;">
        <div style="position:absolute; top:-1em; left:-1em; right:-1em; bottom:-1em;">
    <button class="button-primary" id="submit_form" onclick="do_save();">Submit</button>
        </div>
    </div>
</form>
